<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Game Launcher</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<script type="text/javascript" src="/assets/js/app.js?<%= Math.floor(Date.now() / 100); %>"></script>
	</head>
<body>
	<div class="overlay"></div>

	<div class="launcher-container">
		<div class="sidebar">
			<button class="d-none"><span class="material-icons">menu</span></button>
		</div>

		<div class="main-content">
			<img src="https://example.com/game1-logo.png" alt="Game Logo">
			<p data-tooltip="This is a tooltip on the top" data-position="top" >Experience the adventure of a lifetime in this thrilling game.</p>

			<div>
				<a class="btn btn-lg btn-primary" target="_blank" id="btn-play-now">Play Now</a>
			</div>
		</div>

		<div class="game-list hidden">
			<div class="overlay"></div>
		</div>
	</div>
</body>
</html>
